body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
    text-align: center;
    margin: 0;
}

header {
    background: #343a40;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.gallery img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
